@import url("https://fonts.googleapis.com/css?family=Yeseva+One:regular");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

body{
    margin: 0;
    font-family: "Nunito Sans", "Arial";
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;/*для того чтобы центровался посередине экрана*/
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0; /*свойство outline  задает до рамку вокруг элемента, за пределами его css-блока*/
    border: 0; /*убрали бордер по умолчанию*/
    color: white;
    text-transform: uppercase;
    font-style: italic;
    margin: 10px;
    width: 207px;
    height: 51px;
}

.button:hover {
    cursor: pointer;
}

.background-container .button:hover {
    background-color: rgba(28,28,28,0);
    border-color: white;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    padding: 13px 13px;
    margin: 10px;
    
}

.logo {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    
}

.header {
    background-color: black;
    
}
    

.header-content{
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;/*убрали точки списка*/
    display: flex;

}

.header-navigation-item {
    margin-right: 47px;
}


.header-navigation-item a {
    text-decoration: none; /*убрали черточки внизу*/
    color: white;
}

.header-navigation-item a:hover {
    color:#E3B873;
    
}

.link {
    font-family: 'Nunito Sans' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #E3B873;
}

.background {
    background-image: url("images/background.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.background-overlay{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);

}

.background-container {
    position: relative;
    z-index: 1;
    max-width: 520px;
    right: 300px;
} 
.title {
    margin: 0;
    font-family: 'Yeseva One','Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text {
    font-family: 'Nunito Sans' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

}

.secondBackground {
    background-color: black;
    background-size: cover;
    height: 1074px;
    padding-top: 107px;
    padding-left: 134px;
    padding-bottom: 90px;
    position: relative;
}

.items {
    
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 152.5px;
    margin-top: 107px;
    padding: 0;
    position: relative;
    left: 20px;
    bottom: 30px;
}

.item {
    margin-left: 60.5px;
}

.item:hover {
    color: #E3B873; 
    text-decoration-line: underline;
    cursor: pointer;
}

.parts {
    display: flex;
}

.left-part {
    max-width: 442px;
    margin-left: -30px;
    
    
}

.title2 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    width: 253px;
    height: 66px;

    color: #E3B873;

}

.about {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    
    height: 86px;
    
    color: #FFFFFF; 
}

.small-parts {
    display: flex;
}

.small-left-part {
    max-width: 161px;
    
    

}

.small-h {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.repair-cost {
    margin-top: 38px;

}

.small-text {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}



button:hover {
    cursor: pointer;
}

.slider1 {
    display: flex;
    margin-top: 60px;
}

.rigt {
    margin-left: 15px;
}



.dot {
  
  width: 9.57px;
  height: 9.57px;
  border-radius: 30px;
  background-color:  rgba(255, 255, 255, 0.3);
  margin-left: 15px;
}

.dot:hover {
    background-color: white;
}

.slider-item {
    background-color: rgba(28,28,28,0);
    border: none;
}


.right-part {
    width: 679px;
    padding-left: 50px;
}

.third-section {
    position: absolute;
    margin-top: -298px;
    width: 817px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 309px;
    
}



.video {
    background-image: url(images/video.png);
    width: 817px;
    position: relative ;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 434px;
}

.play {
    position: relative;
    left: 20px;
}

.play:hover {
    cursor: pointer;
}

.bottom-line {
    margin-top: 62.5px;
    padding: 0;
}


.video-text {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    font-style: normal; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 37px; 
    text-align: center;
    color: #363636;
    width: 681px;
    height: 131px;
}

.form {
    margin-top: 93px;
}

.input-form {
    display: flex;
    justify-content: space-between;
}

.input-item {
    display: flex;
    flex-direction: column;
    margin-left: 49px;
    margin-right: 49px;

}

.first-input-item {
    width: 231px;
}

.label {
    font-family: Nunito Sans 
    font-style: regular;
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}

.form-button {
    width: 200px;
    height: 51px;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    border-radius: 1px;
  }
  
  .fake::before {
    content:"\2714";
    opacity: 1;
    transition: .2s;
  }
  
  .checkbox:checked + .fake::before{
    opacity: 0;
  }

  .forth-section {
    position: relative;
    margin-top: 780px;
    height: 1500px;
    
    
    
  }

  .white-h {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  .image-of-tools {
    text-align: center;
  }

  .room-picture {
    width: 392px;
    position: relative;
    
  }

  .rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  h4 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

  }

  .benefits-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    padding: 0;
    margin-left: 10px;
    margin-top: -20px;

    color: #959595;

  }

  .services {
    position: absolute;
    background-color: white;
    z-index: 2;
    margin-top: -140px;
    width: 330px;
    height: 286px;
    margin-left: 31px;
    padding-left: 34px;
    
  }

  .second-part-of-forth-section {
    margin-top: 360px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .benefits {
    
    background-image: url(images/ligt-background.svg);
    background-size: 100%;
    height: 509 px;
    padding: 0;
    margin-top: -50px;
    
  }


  .number {
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 41.5px;
    height: 41.5px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;

  }

 .order-benefit {
    display: flex;
    padding-top: 85px;
    padding-left: 169px;
    margin: 0;
}

 .second-form {
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
 }

 .second-text-form {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
 }

 .second-label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.5);
 }

 .second-input-item {
    margin-left: 49px;
    margin-right: 49px;
    margin-top: 30px;
    
 }

 .second-form-button {
    margin-right: 49px;
    margin-top: 39px;
    display: flex;
    justify-content: flex-end;
 }

 .second-input {
    background: none;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    
 }

 .hr-under-input {
    visibility: hidden;
 }

 .input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    
}

.first-input {
    width: 231px;
}

 .first-checkbox {
    display: flex;
    justify-content: center;
 }

 .saving {
    display: flex;
    justify-content: end;
    margin-top: 50px;
 }

 .saving-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 344px;
    height: 47px;
 }

 .second-checkbox {
    margin-left: 49px;
 }

 .second-text-checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.fifth-section {
    background-image: url(images/backgroundRoom.png);
    height: 864px;
    margin-top: 250px;
}

.style-item {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    color: #FFFFFF;

}

.style-item:hover {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    border-bottom:1px solid #E3B873 ;

    color: #E3B873;
}

.fifth-container {
    display: flex;
    justify-content: space-between;
    
}

.styles {
    height: 516px;
    width: 299px;
    padding-top: 130px;
    margin-left: 5px;
}

.styles-ul {
    margin-left: -35px;
    
}

.left-images {
    margin: -40px 40px 40px 40px;
}

.roomTV {
    padding-top: 30px;
}

.room4 {
    padding-top: 30px;
}

.images {
    display: flex;
}

.right-images {
    margin: -101px 40px 40px 0px;
}

.clients-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    width: 400px;

    color: #363636;
}

.customers {
    display: flex;
    justify-content: space-between;
    width: 324px;
}

.custumer-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.sixth-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer {
    margin: 50px;
}

.sixth-container {
    padding-top: 90px;
}

.names {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    width: 178px;
    margin-left: 20px;

    color: #363636;

}

.personphoto {
    border-radius: 50%;
}

.workfor {
    margin-top: 63px;
    margin-left: -27px;
}

.sixth-section {
    position: relative;
}

.seventh-section {
    position: absolute;
    z-index: 2;
    background-color: #131313;
    width: 883px;
    height: 445px;
    margin-left: 288.5px;
    
}

.titlt-third-form {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;

    color: #FFFFFF;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.seventh-container {
    width: 516.5px;
    margin-left: 21%;

}

.third-input {
 width: 516px;
}

.third-input-form {
    width: 516px;
    
}

.input-third { width: 231px;}

.pad { margin-top: 40px;}


.third-button { margin-left: 146px;}

.third-phone {
 margin-left: 48px;
}

.last-section {
    background-image: url(images/last-background.png);
    background-size: cover;
    width: 1440px;
    height: 954px;
    margin-top: 244px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.z {z-index: 1;}

.last-title {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    margin-top: 120px;

    color: #E3B873;

}

.background-over{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);

}

.map {
    margin-top: 30px;
}

.inst { margin-left: 10px;}





